body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

button {
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
@keyframes scroll-left {
    0% {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(-100%); /* End off-screen to the left */
    }
}

h1 span {
    display: inline-block;
    animation: scroll-left 15s linear infinite; /* Set animation speed and infinite loop */
}
